@charset "utf-8";
/*CSS Document*/
html, body{
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
}



img.thumbnail {
border:1px solid #ff0000;
width:300px;
height:150px;

}


.container {
display:block;
margin: 0 auto;
width: 960px;
padding-top: 20px;
overflow: hidden;
}

.main{
float: left;
padding: 0 40px;
text-align: justify;
}

/*clearfix solution from CSS Tricks*/
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}